* {
    margin: auto;
    font-family: Century Gothic;
    border-width: 0.2em;
    max-height: 2300px;
    max-height: 1200px;

}
body{
    background:rgb(206, 206, 206);
    height: 100%;
    width: 100%;
}

.container {
    
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    margin: 5px auto;
    display: grid;
    font-size: 3vh;

}
.header {
    color:#FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
	background: rgb(29, 110, 156);
    text-align: center;
    font-size: 3vh;

}
/*Avisos*/
.msgok {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1.1em;
	color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
    margin-top: 2.3em;
}
.msg {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1.1em;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    margin-top: 2.3em;
}

.logger{
    margin-top: 10vh;
	height: 100%;
    width: 100%;
}
.logger .info .registrarnuevo {
    background-color: rgb(29, 110, 156);
}
div{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

button[type=button],
input[type=submit],
input[type=reset] {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(31, 88, 20);
    border: none;
    color: #FFFFFF;  
    font-size: 2.5vh;  
    padding: 2vh;  
    width: 20%;  
    margin: 15px;
    text-align: center;
    display: inline-block; 
}
button[type=button],
input[type=reset] { 
    background-color: rgb(122, 27, 27);

}
input[type=text],
input[type=password],
input[type=tel],
input[type=email]{
    width: 30vw;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

.logger .info {
    display: block;
    text-align:center;
}
.logger .formlog {
    height: 100%;
    width: 100%;
}

.form_user{
    margin-top: 4vh;
}
.view{
    margin-top: 12em;
}
.view .botones {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(29, 110, 156);
    border: none;
    color: #FFF;  
    font-size: 28px;  
    padding: 20px;  
    width: 200px;  
    margin: 10px;
    text-align: center;  

}
.resultuser{

    margin-top: 10vh;
    margin-bottom: 5vh;

}
.resultuser .texto {
    margin-right: 1em;
    text-align: left;
}
.resultuser .infor {
    display: block;
    text-align:center;
}
.resultuser .infor .backinfo{
    width: 20vw;
}
.resultuser .buscasitios {
    display: inline-block;
    width: 30em;
    height: 20em;
    overflow-y: scroll;
}
.resultuser .placeHolder{
    position: fixed;
    left:70%;
    top: 40%;
}

.footer{
    color:#FFF;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background: rgb(29, 110, 156);
    font-size: 3vh;

}
@media screen and (max-height:580px){
    .logger{
        margin-top: 5em;
    }
    .form_user{
        margin-top: 5em;
    }
    .view{
        margin-top: 5em;
    }
}

@media screen and (max-width:800px){
button[type=button],
input[type=submit],
input[type=reset] { 
    width: 75vw;  
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email]{
    width: 75vw;
  }

}
@media screen and (max-width:1200px){
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=email]{
        width: 75vw;
    }
    
}
@media screen and (max-width:756px){
    .logger{
        margin-top: 15vh;
    }
    .msgok {
        height: auto;

    }
    .msg {
        height: auto;

    }
    .resultuser{

        margin-top: 13vh;
    }
}
@media screen and (max-width:734px){
    .logger{
        margin-top: 20vh;
        margin-bottom: 4vh;
    }
}
@media screen and (max-width:682px){
    .resultuser .buscasitios {

        width: 85vw;
        height: 40vh;
        overflow: scroll;
    }
}
@media screen and (max-width:1312px){ 
    .resultuser .placeHolder{
        position:unset;
        display: block;
        text-align: center;
    }
    .resultuser .buscasitios {
        display: block;
    }
}
@media screen and (max-height:850px) and (max-width: 580px){
    .container {
        width: 80%;
        max-width: 80%;
        max-height: 80%;
        font-size:2vh;
    
    }
    
}
